{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Approvals</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h2>XYZ</h2>
        <a href="{% url 'home'%}">Home</a>
        <a href="{% url 'expenses'%}">Expenses</a>
        <a href="{% url 'investment'%}">Investment</a>
        <a href="{% url 'settings'%}">Settings</a>
      </div>

      <div class="main">
        <div class="expense-card">
          <h1>Expenses</h1>

          <table>
            <thead>
              <tr>
                <th>Owner</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Frequency</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>ABC</td>
                <td><span class="badge travel">Travel</span></td>
                <td>XXXX</td>
                <td>Once</td>
              </tr>

              <tr>
                <td>PQR</td>
                <td><span class="badge travel">Travel</span></td>
                <td>XXXX</td>
                <td>Once</td>
              </tr>

              <tr>
                <td>LMN</td>
                <td><span class="badge food">Food</span></td>
                <td>XXXX</td>
                <td>Monthly</td>
              </tr>

              <tr>
                <td>EFG</td>
                <td><span class="badge software">Software</span></td>
                <td>XXXX</td>
                <td>Bi-Monthly</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
